<h5> welcome back</h5>
<div class="my-svg">

</div>

<style>
  svg {
      border: 1px solid #777;
      width: 300px;
      height: 200px;
  }
  .attr-item {
      padding: 10px;
  }
  .attr-item label {
      display: inline-block;
      width: 100px;
      margin-right: 10px;
  }
</style>
<script>

//    var url = "assets/gu-logo-black.svg";
    var url = "assets/example2.svg";
    var svg = new SvgEditor('.my-svg');
    svg.load(url);


</script>