<h5> welcome back</h5>
<div class="image-list">
  <h5>模板图片</h5>

  <div>
    <img src="http://127.0.0.1/assets/example.svg" class="svg-image">
    <img src="http://127.0.0.1/assets/example2.svg" class="svg-image">
    <img src="http://127.0.0.1/assets/gu-logo-black.svg" class="svg-image">
  </div>
</div>

<div class="my-svg">

</div>

<style>
    img.svg-image {
        width: 100px;
    }

    svg {
        border: 1px solid #777;
        width: 300px;
        height: 200px;
    }

    .svg-editor .editor-item {
        padding: 10px;
    }

    .attr-item label {
        display: inline-block;
        width: 100px;
        margin-right: 10px;
    }
    .svg-panel,  .svg-editor {
        width: 50%;
        float: left;
    }
</style>
<script>
    $(function() {
    var svg = new SvgEditor('.my-svg');
    $('.svg-image').on('click', function (e) {
        e.stopPropagation();
        var $dom = $(e.target);
        svg.load($dom.attr('src'));
    });

    $('.svg-image:first').click();

    }, jQuery)

</script>