<div class="image-list">
  <h5 >welcome back</h5>
  <h5 style="font-family: futura">welcome back</h5>

  <div>
    <img src="http://127.0.0.1/assets/example.svg" class="svg-image">
    <img src="http://127.0.0.1/assets/example2.svg" class="svg-image">
    <img src="http://127.0.0.1/assets/gu-logo-black.svg" class="svg-image">
  </div>
</div>

<div class="my-svg">

</div>
<%
    svg_filters = %W{
        feBlend
        feColorMatrix
        feComponentTransfer
        feComposite
        feConvolveMatrix
        feDiffuseLighting
        feDisplacementMap
        feFlood
        feGaussianBlur
        feImage
        feMerge
        feMorphology
        feOffset
        feSpecularLighting
        feTile
        feTurbulence
        feDistantLight
        fePointLight
        feSpotLight
    }
%>
<div style="clear: both" >
  <h5>滤镜效果</h5>
  <select id="svg-filter">
    <option value="without-filter">无</option>
    <% svg_filters.each do |filter|%>
        <option value="<%= filter%>"><%= filter%></option>
    <% end %>
  </select>

  <svg id="filter-svg" width="400" height="400" style="filter:url(#without-filter)">

    <defs>

      <filter id="without-filter">
        <feGaussianBlur />
      </filter>

      <% svg_filters.each do |filter|%>
          <filter id="<%= filter%>">
            <feGaussianBlur in="<%= filter %>" />
          </filter>
      <% end %>
    </defs>
    <image xlink:href="http://127.0.0.1/assets/example.svg" src="http://127.0.0.1/assets/example.svg" width="96" height="96" />

  </svg>
</div>

<style>
    img.svg-image {
        width: 100px;
        height: 100px;
    }

    svg {
        border: 1px solid #777;
        width: 300px;
        height: 200px;
    }

    .svg-editor .editor-item {
        padding: 10px;
    }

    .attr-item label {
        display: inline-block;
        width: 100px;
        margin-right: 10px;
    }
    .svg-panel,  .svg-editor {
        width: 50%;
        float: left;
    }
</style>
<script>
    $(function() {
        var svg = new SvgEditor('.my-svg');
        $('.svg-image').on('click', function (e) {
            e.stopPropagation();
            var $dom = $(e.target);
            svg.load($dom.attr('src'));
        });

        $('.svg-image:first').click();

        $('#svg-filter').on('change', function() {
            var $this = $(this);
            $('#filter-svg').css('filter', "url(#"+$this.val()+")");
        })

    }, jQuery)

</script>