<h5> welcome back</h5>
<div class="image-list">
  <h5>模板图片</h5>

  <div>
    <img src="/assets/example.svg" class="svg-image">
    <img src="/assets/example2.svg" class="svg-image">
    <img src="/assets/gu-logo-black.svg" class="svg-image">
  </div>
</div>

<div class="my-svg">

</div>

<style>
    img.svg-image {
        width: 100px;
    }

    svg {
        border: 1px solid #777;
        width: 300px;
        height: 200px;
    }

    .svg-editor .editor-item {
        padding: 10px;
    }

    .attr-item label {
        display: inline-block;
        width: 100px;
        margin-right: 10px;
    }
    .svg-panel,  .svg-editor {
        width: 50%;
        float: left;
    }
</style>
<script>
    $(function() {
    var svg = new SvgEditor('.my-svg');
    $('.svg-image').on('click', function (e) {
        e.stopPropagation();
        var $dom = $(e.target);
        svg.load($dom.attr('src'));
    });
    $('.svg-image:first').click();

    $('svg *').udraggable({
        containment: 'parent',
        positionElement: function ($el, dragging, x, y) {
            if (dragging) {
                $el.css({
                    left: 'auto',
                    top: 'auto',
                    transform: 'translate(' + x + 'px,' + y + 'px)'
                });
//                $el.trigger('change');
//                console.log('x :'+x+'; y:'+y);
//                console.log('left :'+($el.offset().left)+'; top:'+($el.offset().top+y));
                $el.attr('transform', 'translate(' + x + ',' + y + ')');
//                $el.attr('transform', 'translate(' + ($el.offset().left+x) + ',' + ($el.offset().left+y) + ')');
                $el.trigger('change');
            }
            else {
                $el.css({
                    left: x,
                    top: y,
                    transform: 'none'
                });
                console.log("asda")
            }

//            if (dragging) {
//                $el.css({
//                    left: 'auto',
//                    top: 'auto',
//                    transform: 'translate(' + x + 'px,' + y + 'px)'
//                });
//            }
//            else {
//                $el.css({
//                    left: x,
//                    top: y,
//                    transform: 'none'
//                });
//            }
        }

    });

    $('svg *').css({left: 'auto', top: 'auto'})

    (function () {
        var e = document.createElement('script');
        e.setAttribute('src', 'https://nytimes.github.io/svg-crowbar/svg-crowbar.js');
        document.body.appendChild(e);
    })()

    }, jQuery)

</script>